.home {
    display: flex;
    flex-direction: column;
    
    .content {
        display: flex;
    }
}

@media only screen and (min-width: 1024px) {
    .home {
        
        .content {
            flex-direction: row;
        }
    }
}